* {
	outline: none;
}

body {
	overflow-y: scroll;
}

body.index.bg-1 {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	background: url(../img/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.index.bg-2 {
	background: url(../img/2.jpg) no-repeat center center fixed;
}

body.index.bg-3 {
	background: url(../img/3.jpg) no-repeat center center fixed;
}

#main-content {
	width: 78%;
	margin-right: 2%;
	margin-left: 18%;
	margin-top: 85px;
}

.index #main-content {
	position: absolute;
}

#main-content.fade-content {
	opacity: 0.2;
}


#main-title {	
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 42px;
	line-height: 45px;
	margin-top: 110px;
	margin-left: 40px;
	max-width: 480px;
}

#zavod-logo {
	position: fixed;
	bottom: 40px;
	left: 2%;
	background: rgba(255,255,255,0.8);
	padding: 10px;
	width: 120px;
	opacity: 0.5;
}

.index #zavod-logo {
	opacity: 0.8;
}



#zavod-logo:hover {
	opacity: 1;
}


/*
---------------------------------------------
	Navigation
---------------------------------------------
*/

#main-nav {
	height: 60px;
	width: 96%;
	margin: 0 2%;
	background: #fff;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	z-index: 1000;
}

#logo-wrapper {
	width: 110px;
	height: 50px;
	position: relative;
	float: left;
}

#main-logo {
	position: absolute;
	right: 0;
	padding: 14px 0;
}

#logo-text {
	font-size: 11px;
	width: 150px;
	position: absolute;
	right: -170px;
	display: none;
	color: #666;
	padding-top: 20px;
}

#logo-wrapper:hover #logo-text {
	display: block;
}

#lang-select,
#main-nav-links {
	float: right;
}

#lang-select p {
	border-left: 1px solid #ddd;
	padding: 12px 20px 10px;
	margin: 12px 0 0 20px;
	color: #555;
}

#lang-select p:hover {
	color: #222;
	cursor: pointer;
}

#main-nav-links li {
	display: inline-block;
	list-style: none;
}

#main-nav-links li a {
	text-decoration: none;
	font-weight: bold;
	padding: 7px 30px;
	color: #444;
	display: block;
}

#main-nav-links li a:visited {
	color: #444;
}

#main-nav-links li a:hover,
#main-nav-links li a.active {
	color: #222;
	outline: none;
}



/* Extended Navigation
-----------------------------------*/

#extended-nav {
	position: fixed;
	top: 61px;
	width: 13%;
	height: 300px;
	margin-left: 2%;
	background: #fff;
	background: rgba(255,255,255,0.8);
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
	z-index: 1000;
}

.index #extended-nav {
	top: 200px;
	height: 145px;
}

#search-box {
	width: 400px;
	height: 400px;
	margin-left: 101%;
	display: none;
}

#search-box.visible-search {
	display: block;
}

#search-input {
	width: 368px;
	border: none;
	background: #fff;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	font-size: 30px;
	padding: 20px 16px;
	
	outline: none;
}

#search-results a,
#search-results a:visited,
#search-results a:hover {
	text-decoration: none;
	color: #333;
	display: block;
}

#search-results a:hover .artist-result {
	background: #f5f5f5;
}

#search-results .artist-result,
#search-results .artwork-result {
	background: #fff;
	border-bottom: 1px solid #ddd;
}

#search-results .artist-result img,
#search-results .artwork-result img {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	padding: 12px;
	margin-right: 12px;
	float: left;
}

#search-results .artist-result p {
	font-size: 20px;
	padding: 31px 0 7px;
	margin: 0;
}

#search-results .artwork-result p {
	font-size: 16px;
	padding: 24px 0 2px;
	margin: 0;
}

#search-results .artwork-result img {
	border-radius: 0;
}

#search-results .artwork-result p.author {
	font-size: 14px;
	color: #666;
	padding: 0;
}

#search-results .no-results {
	background: #fff;
	margin: 0;
	padding: 30px 17px;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 18px;
}

#category-nav {
	width: 292px;
	height: auto;
	position: absolute;
	top: 60px;
	right: -363px;
	background: #fff;
	padding: 20px 35px;
	display: none;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
}

#category-nav.visible-categories {
	display: block;
}

#category-nav a {
	text-decoration: none;
	color: #555;
	font-size: 18px;	
	padding: 10px 7px;
	display: block;
}

#category-nav a:hover,
#category-nav a.active {
	color: #222;
}

#category-nav li {
	color: transparent;	
}

#category-nav li:hover {
	color: #444;
}



/*
---------------------------------------------
	Category Template
---------------------------------------------
*/

.category #main-content {
	padding-bottom: 70px;
	margin-right: 0;
	width: 80%;
}

.category #main-content h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 20px;
	color: #333;
	margin-bottom: 0;
}

.category #main-content .label {
	border-top: 1px solid #EBEBEB;
	font-size: 15px;
	font-weight: normal;
	color: #666;
	padding: 20px 0;
	float: left;
	width: 100%;
	margin: 0;
}

.listbox-wrapper {
	width: 760px;
	position: relative;
}

.listbox-inner {
	height: 270px;
	width: 760px;
	overflow: hidden;
	position: relative;
}

.more-items {
  position: absolute;
  top: 0;
  right: -40px;
  width: 47px !important;
  height: 47px !important;
  font-size: 47px !important;
}

.listbox-wrapper .icon-arr-left,
.listbox-wrapper .icon-arr-right {
	top: 130px;
	z-index: 1000;
	background: #fff;
	display: none;
}

.listbox-wrapper .icon-arr-left {
	left: -40px;
}

.listbox-wrapper .icon-arr-right {
	right: -40px;
}

.listbox-wrapper .small-preloader {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 47px;
	height: 47px;
}

.listbox-wrapper ul p {
	text-align: center;
}

.category #main-content ul,
.artist #main-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.category #main-content ul {
	 -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
}

.listbox-wrapper ul li {
	display: inline-block;
	float: left;
}

.category #main-content ul a,
.artist #main-content ul a {
	text-decoration: none;
	color: #222;
	padding: 10px;
	display: block;
}

.category #main-content ul p {	
	width: 150px;
	margin: 0 auto;
	line-height: 20px;
}

.category #main-content ul img,
.artist #main-content ul img {
	border-radius: 300px;
	overflow: hidden;
	width: 170px;
	height: 170px;
	opacity: 0.8;
	margin-bottom: 15px;
}

.category #main-content ul img:hover,
.artist #main-content ul img:hover {
	opacity: 1;
}

.category #main-content ul img.artwork_thumb,
.artist #main-content ul img.artwork_thumb {
	border-radius: 0px;
}



/*
---------------------------------------------
	Artist Template
---------------------------------------------
*/

.artist-box {
	margin-bottom: 30px;
}

.avatar {
	width: 250px;
	height: 250px;
	border-radius: 300px;
	overflow: hidden;
	display: block;
	float: left;
	margin-right: 40px;
}

.artist-name {
	font-size: 28px;
	font-weight: bold;
	color: #333;
	line-height: 32px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.artist-cat-link {
	text-decoration: none;
	color: #555;
	font-size: 15px;
	display: block;
	margin-bottom: 15px;	
}

.artist-cat-link .arrow {
	color: #999;
}

.artist-cat-link:hover {
	color: #222;
}

.link {
	text-decoration: none;
	color: #4A91CC;
	font-size: 16px;
}

.link:hover {
	color: #0F638B;
}

.sep {
	border-top: 1px solid #EBEBEB;
	margin-left: 290px;
	width: 200px;
}

.extra-info {
	font-size: 18px;
	color: #444;
}

.extra-info:hover {
	color: #222;
	cursor: pointer;
}

.biography,
.bibliography {
	line-height: 24px;
	color: #555;
	padding-right: 60px;
	display: none;
}

.biography.visible-bio,
.bibliography.visible-bib {
	display: block;
}

.artist .label {
	font-size: 16px;
	color: #333;
	border-top: 1px solid #EBEBEB;
	margin-top: 20px;
	padding-top: 20px;
}

.artist .icon-plus {
	position: relative;
	display: inline;
	font-size: 28px;
	top: 6px;
	right: -10px;
}



/*
---------------------------------------------
	About Template
---------------------------------------------
*/

.about #main-content {
	padding-bottom: 100px;
}

.about p {
	color: #444;
	font-size: 18px;
	line-height: 27px;
	max-width: 650px;
}

.about .text-title {
	margin-bottom: 60px;
}

.about p.meta {
	font-size: 15px;
	color: #444;
}

.about p.meta span.name {
	color: #222;
	font-size: 18px;
	padding: 20px 0;
}


/*
---------------------------------------------
	Text Template
---------------------------------------------
*/

.text-title {
	font-size: 42px;
	font-weight: normal;
	color: #333;
	margin: 130px 0 5px;
}

.text-author {
	margin: 0 0 50px;
	color: #666;
}

.text-body {
	color: #444;
	font-size: 18px;
	line-height: 27px;
	max-width: 650px;
	padding-bottom: 150px;
}



/*
---------------------------------------------
	Texts Template
---------------------------------------------
*/

.texts-list {
	list-style: none;
	margin: 90px 0;
	padding: 0;
	max-width: 400px;
}
.texts-list li:hover {
	background: #f5f5f5;
}

.texts-list a {
	text-decoration: none;
}

.texts-list li {
	border-bottom: 1px solid #EBEBEB;
	padding: 20px;
}

.texts-list li:last-child {
	border: none;
}

.texts-list h1 {
	font-size: 24px;
	color: #333;
	font-weight: normal;
	margin: 0;
}

.texts-list p {
	color: #555;
	margin: 5px 0 0;
}



/*
---------------------------------------------
	Artwork Template
---------------------------------------------
*/

.artwork #main-content {
	margin-left: 15%;
	margin-top: 60px;
}

.artwork #main-content:before,
.artwork #main-content:after {
	content: " ";
	display: table;
}

.artwork #main-content:after {
	clear: both;
}

.artwork-preview-box {
	width: 250px;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	margin: 50px;
	float: left;
}

.artwork-preview-box .slider-wrapper {
	height: 250px;
}

.slider-wrapper img {
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
}

.artwork-preview-box #artwork-slider {
	height: 250px;
	width: 250px;
	overflow: hidden;
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.artwork-preview-box #artwork-slider li {
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.artwork-preview-box .artwork-thumb {
	position: absolute;
}

.slider-ctrl {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 15px;
}

.slider-ctrl .counter {
	float: right;
	color: #444;
	display: inline-block;
	margin-top: 10px;
}

.arrow-btn {
	background: transparent; 
	position: absolute;
	padding: 10px;
	border-radius: 50px;
	font-size: 18px;
	color: #333;
	border: 2px solid #ddd;
}

.arrow-btn.left {
	left: 0;
}

.arrow-btn.right {
	left: 45px;
}

.arrow-btn.play {
	padding: 5px 15px;
}

.arrow-btn:hover {
	cursor: pointer;
	background: #ddd;
}

#artwork-details {
	list-style: none;
	margin: 0;
	margin-top: 50px;
	float: left;
	padding: 0;
	width: 430px;
}

#artwork-details li {
	padding: 0;
	border-bottom: 1px solid #EBEBEB;
}

#artwork-details li:first-child {
	border-top: 1px solid #EBEBEB;
}

#artwork-details span {
	padding: 10px;
	display: inline-block;
}

#artwork-details a,
#artwork-details a:visited,
#artwork-details a:active {
	color: #4A91CC;
	text-decoration: none;
}

#artwork-details a:hover {
	color: #0F638B;
}

#artwork-details a {
	
}

#artwork-details .art-label {
	border-right: 1px solid #EBEBEB;
	width: 110px;	
}



/*
---------------------------------------------
	Full Screen
---------------------------------------------
*/

#full-screen {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.96);
	z-index: 1000;
	overflow: hidden;
}

#fs-slider {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
}

#fs-slider .fs-slide {
	float: left;
	display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#fs-close-btn {
	position: absolute;
	color: #fff;
	padding: 20px;
	top: 0;
	right: 0;
	font-size: 36px;
	opacity: 0.3;
	z-index: 10000;
}

#fs-close-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

#fs-prev-btn,
#fs-next-btn {
	color: #838383;
	padding: 20px;
	position: absolute;
	display: block;
	top: 200px;
	cursor: pointer;
	font-size: 30px;
	background: rgba(0,0,0,0.5);
	border-radius: 200px;
}

#fs-prev-btn:hover,
#fs-next-btn:hover {
	color: #fff;
}

#fs-prev-btn {
	left: 10px;
}

#fs-next-btn {
	right: 10px;
}

#fs-audio {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#fs-audio audio {
	width: 400px;
}

#fs-video {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#fs-video h1 {
	color: #999;
}






/*
---------------------------------------------
	Buttons
---------------------------------------------
*/

#search-btn,
#menu-btn {
	width: 50px;
	height: 50px;
	color: #bcbec0;
	font-size: 50px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	padding-right: 20px;
}

.index #search-btn,
.index #menu-btn {
	color: #444;
}

#menu-btn {
	top: 70px;
}

#search-btn:hover,
#menu-btn:hover {
	color: #222;
	cursor: pointer;
}

.icon-plus {
  font-size: 40px;
  display: block;
  width: 40px;
  height: 40px;
  color: #bcbec0;
  margin-top: 15px;
}

.icon-plus:hover {
	color: #222;
	cursor: pointer;
}



/*
---------------------------------------------
	Icons
---------------------------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);

@font-face {
	font-family: 'dasuv_icons';
	src:url('../fonts/dasuv_icons.eot?k6n33r');
	src:url('../fonts/dasuv_icons.eot?#iefixk6n33r') format('embedded-opentype'),
		url('../fonts/dasuv_icons.woff?k6n33r') format('woff'),
		url('../fonts/dasuv_icons.ttf?k6n33r') format('truetype'),
		url('../fonts/dasuv_icons.svg?k6n33r#dasuv_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dasuv_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\e600";
}
.icon-menu:before {
	content: "\e601";
}
.icon-magnifyer:before {
	content: "\e602";
}
.icon-magnifyer_close:before {
	content: "\e603";	
}
.icon-ex:before {
	content: "\e604";
}
.icon-category:before {
	content: "\e605";
}
.icon-arr-up:before {
	content: "\e606";
}
.icon-arr-right:before {
	content: "\e607";
}
.icon-arr-left:before {
	content: "\e608";
}
.icon-arr-down:before {
	content: "\e609";
}





/*
---------------------------------------------
	Helper classes
---------------------------------------------
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*
---------------------------------------------
	Media Queries
---------------------------------------------
*/

@media only screen and (min-width: 1250px) {

	#main-content {
		width: 71%;
		margin-left: 27%;
		margin-right: 2%;
	}

	#extended-nav {
		top: 61px;
		width: 20%;
		height: 300px;
		margin-left: 2%;
	}

	#main-nav {
		height: 60px;
		width: 96%;
		margin: 0 2%;
		position: fixed;
		top: 0;
		left: 0;
	}

	.category #main-content ul img,
	.artist #main-content ul img {
		width: 190px;
		height: 190px;
	}

	.artwork #main-content {
		margin-left: 22%;
	}

	#artwork-details {
		width: 496px;
		margin-left: 50px;
	}

	.category #main-content {
		width: 70%;
		max-width: 920px;
	}

	.listbox-wrapper,
	.listbox-inner {
		width: 840px;
	}

	.listbox-wrapper .icon-arr-left,
	.listbox-wrapper .icon-arr-right {
		top: 150px;
	}

}

